## [–ó–∞–¥–∞–Ω–∏—è](../README.md)

### 1 scored_videos - –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ USvideos.csv
 - —Å –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ–º –∫–æ–ª–æ–Ω–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π —Å–∫–æ—Ä (–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –∫–∞—á–µ—Å—Ç–≤–∞) –≤–∏–¥–µ–æ: –§–û–†–ú–£–õ–ê –¥–æ–ª–∂–Ω–∞ –≤–∫–ª—é—á–∞—Ç—å –≤ —Å–µ–±—è
     - –ø—Ä–æ—Å–º–æ—Ç—Ä—ã,
     - –ª–∞–π–∫–∏,–¥–∏–∑–ª–∞–π–∫–∏ –≤–∏–¥–µ–æ,
     - –ª–∞–π–∫–∏ –∏ –¥–∏–∑–ª–∞–π–∫–∏ –∫ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º –∫ –≤–∏–¥–µ–æ
       
### 2 categories_score - –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, –≤ –∫–æ—Ç–æ—Ä–æ–º –ø–æ–ª—è: 
 - –ù–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (–Ω–µ id) -  –≤ US_category_id.json
 - –ú–µ–¥–∏–∞–Ω–∞ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è score –∏–∑ scored_videos –ø–æ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

### 3 popular_tags - –ø–æ —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω—ã–º —Ç—ç–≥–∞–º
  - –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç—ç–≥–∞ + –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∏–¥–µ–æ —Å —ç—Ç–∏–º —Ç—ç–≥–æ–º
    ! —Ç—ç–≥–∏ –ª–µ–∂–∞—Ç —Å—Ç—Ä–æ–∫–æ–π –≤ –ø–æ–ª–µ tags
      - Scala-—Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è —Ä–∞–∑–±–∏–µ–Ω–∏—è —Ç–µ–≥–æ–≤: 
        - –ù–æ –Ω–∞–ø–∏—à–∏—Ç–µ —Å–≤–æ—é UDF-—Ñ—É–Ω–∫—Ü–∏—é —Ä–∞–∑–±–∏–µ–Ω–∏—è —Å—Ç—Ä–æ–∫–∏ –Ω–∞ —Ç—ç–≥–∏
        - –∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã —Å –µ—ë Scala-–≤–µ—Ä—Å–∏–µ–π.
          - –ú–æ–∂–Ω–æ –∑–∞–º–µ—Ä—è—Ç—å —Å–≤–æ–∏–º–∏ —Å–∏–ª–∞–º–∏,
            - –∞ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –±–∏–±–ª–∏–æ—Ç–µ–∫–æ–π timeit
            - —Ñ—É–Ω–∫—Ü–∏–∏ Spark –∏–∑ –ø–∞–∫–µ—Ç–∞ pyspark.sq.functions –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ–ª—å–∑—è,
              - –Ω—É–∂–Ω–æ –Ω–∞–ø–∏—Å–∞—Ç—å —Å–≤–æ—é —Ñ—É–Ω–∫—Ü–∏—é.

## [–ö—Ä–∏—Ç–µ—Ä–∏–∏ –ø—Ä–∏—ë–º–∫–∏](../README.md#%D0%BA%D1%80%D0%B8%D1%82%D0%B5%D1%80%D0%B8%D0%B8-%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F)
1. –í –∫–∞—á–µ—Å—Ç–≤–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –≤—ã—Å–ª–∞–Ω–∞ —Å—Å—ã–ª–∫–∞ –Ω–∞ –ø—É–±–ª–∏—á–Ω—ã–π git-—Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–π, —Å–æ–∑–¥–∞–Ω–Ω—ã–π –Ω–∞ –æ—Å–Ω–æ–≤–µ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏—è, —É–∫–∞–∑–∞–Ω–Ω–æ–≥–æ –≤ –æ–ø–∏—Å–∞–Ω–∏–∏.
2. –ö–æ–¥ —Ä–µ—à–µ–Ω–∏—è –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –≤ notebook Video Scoring.ipynb (—É–∂–µ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ —Ä–µ–ø–æ–∑–∏—Ç–æ—Ä–∏–∏-–ø—Ä–∏–º–µ—Ä–µ).
3. –í—Å–µ –∏—Ç–æ–≥–æ–≤—ã–µ –¥–∞—Ç–∞—Å–µ—Ç—ã –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –æ—Ç–æ–±—Ä–∞–∂–µ–Ω—ã –≤ –Ω–æ—É—Ç–±—É–∫–µ —á–µ—Ä–µ–∑ .show() .
4. –í–µ–∑–¥–µ, –≥–¥–µ —ç—Ç–æ –≤–æ–∑–º–æ–∂–Ω–æ, –æ–±—ã—á–Ω—ã–µ UDF –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ Pandas UDF –∏–ª–∏ Pandas API on Spark.
5. –î–∞—Ç–∞—Å–µ—Ç—ã USvideos.csv –∏ UScomments.csv —Å—á–∏—Ç–∞–µ–º –æ–≥—Ä–æ–º–Ω—ã–º–∏ (–Ω–µ–ª—å–∑—è –ø–æ–º–µ—â–∞—Ç—å –≤ broadcast –∏–ª–∏ –∫—ç—à–∏—Ä–æ–≤–∞—Ç—å).
6. –î–ª—è –∫–∞–∂–¥–æ–≥–æ join –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∞ –∫–∞–∫–∞—è-–ª–∏–±–æ –∏–∑ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–π, –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–Ω—ã—Ö –Ω–∞ –ª–µ–∫—Ü–∏–∏. –í—ã–±–æ—Ä —Ç–∏–ø–∞ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏ –Ω—É–∂–Ω–æ –æ–±–æ—Å–Ω–æ–≤–∞—Ç—å, –æ–ø–∏—Å–∞–≤ –µ–≥–æ –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö –≤ –Ω–æ—É—Ç–±—É–∫–µ.
   –¥–æ–±–∞–≤–∏–ª:
   ‚Äì broadcast –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø—Ä–∏ –¥–∂–æ–∏–Ω–µ —Å –≤–∏–¥–µ–æ (–º–∞–ª–µ–Ω—å–∫—É—é —Å –±–æ–ª—å—à–æ–π –¥–∂–æ–π–Ω–∏–º, —Ç–∞–∫ —á—Ç–æ –µ—ë –±—Ä–æ–¥–∫–∞—Å—Ç–∏–º –Ω–∞ –≤—Å–µ –≤—ã—á–∏—Å–ª–∏—Ç–µ–ª—å–Ω—ã–µ –Ω–æ–¥—ã)
   ‚Äì –∏ partitioning –Ω–∞ –≤–∏–¥–µ–æ –∏ –±–∞–∫–µ—Ç–∏–Ω–≥ –Ω–∞ –∫–æ–º–º–µ–Ω—Ç—ã –ø–µ—Ä–µ–¥ –∏—Ö JOIN'–æ–º, —Ç–∞–∫ –∫–∞–∫ –Ω–∞ —ç—Ç–æ—Ç –º–æ–º–µ–Ω—Ç –¥—É–±–ª–∏ –ø–æ –≤–∏–¥–µ–æ —É–¥–∞–ª–µ–Ω—ã, –∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω –ø—Ä–æ—Å—Ç–æ —Ä–∞–∑–±–∏—Ç—å –Ω–∞ –ø–∞—Ä—Ç–∏—Ü–∏–∏, –∞ –¥–ª—è –∫–æ–º–º–µ–Ω—Ç–æ–≤ —É–∂–µ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –±–∞–∫–µ—Ç–∏–Ω–≥ –ø–æ 
8. –î–ª—è —Ä–∞—Å—á–µ—Ç–∞ –º–µ–¥–∏–∞–Ω—ã –Ω–µ–ª—å–∑—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤—Å—Ç—Ä–æ–µ–Ω–Ω—É—é Spark-—Ñ—É–Ω–∫—Ü–∏—é median –∏–∑ –ø–∞–∫–µ—Ç–∞ pyspark.sql.functions .
9. –î–ª—è —Ñ—É–Ω–∫—Ü–∏–∏ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è —Ç–µ–≥–æ–≤ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤—ã–≤–æ–¥—ã –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é –≤—Ä–µ–º–µ–Ω–∏ —Ä–∞–±–æ—Ç—ã –æ–±—ã—á–Ω–æ–π –∏ scala-–≤–µ—Ä—Å–∏–∏.
   - –Ω—É —Å Scala UDF —á–æ—Ç –ø–æ–∫–∞ –Ω–∏–∫–∞–∫ –Ω–µ —Ä–∞–∑–æ–±—Ä–∞–ª—Å—è üòÖü•≤

In [276]:
# Utils
import traceback, re
from IPython.core.magic import register_cell_magic, register_line_magic
@register_cell_magic
def skip_err(line, cell):
    try: exec(cell, globals())
    except Exception as e: traceback.print_exc()

@register_line_magic
def globs(line, do_print=None):
    """ Get all global vars by: 1) regexp name mask, 2) type if it's set by only-one arg in python syntax """
    # print(f"{'-p' in line.split(' ') =}")
    if do_print is None:
        do_print, line = (True, line.replace('-p', '')
                         ) if '-p' in line.split(' ') else (False, line)
        line=line.strip(' ')
        # print(f"# {line=}")
    if ' ' in line: return [globs(line, do_print=do_print) for line in line.split(' ')] # if not do_print else None
    try:
        if isinstance(eval(line), type):
            print(f"Search globals of type <{isinstance((type_ := eval(line)), type), line}>:..")
            return [g for g in globals() if isinstance(globals()[g], type_)]
    except NameError: pass
    if (matching_variables := [var_name for var_name in globals() if re.compile(line).search(var_name)]):
        print(f"# {line}:\t", end='')
        for var_name in matching_variables: print(var_name, end='\t') if do_print else ''
        print()
    else: print(f"No matching variables for <{line}> found.")
    return matching_variables if not do_print else line
%globs -p com df

# com:	array_compact	comments_schema	comments	comments_by_video
# df:	pandas_udf	call_udf	udf	get_videos_df	df	df_exploded	categories_df	videos_df	dff	dfn	show_dfs

['com', 'df']

In [277]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

spark = SparkSession.builder.master("local") \
    .config('spark.sql.autoBroadcastJoinThreshold', 0) \
    .config('spark.sql.adaptive.enabled', 'false') \
    .config("spark.jars", "super_udf_lib.jar") \
    .getOrCreate()
display(spark)

def get_videos_df():
    videos_df = spark.read.parquet('spark-warehouse/videos')  # to reload saved after spark restart
    videos_df.count(), \
    videos_df.show(5, 55)
    return videos_df

# videos = get_videos_df(); videos.show(3, 33)

# check jars in conf
[(g, v) for g, v in dict(spark.sparkContext.getConf().getAll()).items() if 'jar' in g]

# videos_df.createOrReplaceTempView('videos_df')
# df = spark.sql("SELECT splitTagsUDF(tags) as tags_array FROM videos_df")

[('spark.app.initial.jar.urls',
  'spark://76c09a2dee74:38483/jars/super_udf_lib.jar'),
 ('spark.jars', 'super_udf_lib.jar'),
 ('spark.repl.local.jars', 'file:///home/jovyan/notebooks/super_udf_lib.jar')]

#### Spark UI:
- http://127.0.0.1:4040/stages/

In [278]:
%%skip_err
spark.sparkContext.addJar("super_udf_lib.jar")

Traceback (most recent call last):
  File "/tmp/ipykernel_34488/3369605859.py", line 6, in skip_err
    try: exec(cell, globals())
         ^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
AttributeError: 'SparkContext' object has no attribute 'addJar'

In [279]:
%%skip_err
# spark.udf.registerJavaFunction("splitTags", "CustomUDFs.splitTags", ArrayType(StringType()))
spark.udf.registerJavaFunction("splitTagsUDF", "super_udf_lib.CustomUDFs.splitTagsUDF", ArrayType(StringType()))

Traceback (most recent call last):
  File "/tmp/ipykernel_34488/3369605859.py", line 6, in skip_err
    try: exec(cell, globals())
         ^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2, in <module>
  File "/usr/local/spark/python/pyspark/sql/udf.py", line 660, in registerJavaFunction
    self.sparkSession._jsparkSession.udf().registerJava(name, javaClassName, jdt)
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1322, in __call__
    return_value = get_return_value(
                   ^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/pyspark/errors/exceptions/captured.py", line 175, in deco
    raise converted from None
pyspark.errors.exceptions.captured.AnalysisException: Can not load class super_udf_lib.CustomUDFs.splitTagsUDF, please make sure it is on the classpath.

In [280]:
%%skip_err
spark.udf.registerJavaFunction(
    "splitTags", 
    "com.example.super_udf_lib.CustomUDFs.splitTagsUDF",
    # "super_udf_lib.CustomUDFs.splitTagsUDF",
    ArrayType(StringType())
)

Traceback (most recent call last):
  File "/tmp/ipykernel_34488/3369605859.py", line 6, in skip_err
    try: exec(cell, globals())
         ^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 1, in <module>
  File "/usr/local/spark/python/pyspark/sql/udf.py", line 660, in registerJavaFunction
    self.sparkSession._jsparkSession.udf().registerJava(name, javaClassName, jdt)
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1322, in __call__
    return_value = get_return_value(
                   ^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/pyspark/errors/exceptions/captured.py", line 175, in deco
    raise converted from None
pyspark.errors.exceptions.captured.AnalysisException: Can not load class com.example.super_udf_lib.CustomUDFs.splitTagsUDF, please make sure it is on the classpath.

### —á–æ—Ç —Å–æ Scala-UDF'–∫–æ–π –ø–æ–∫–∞ –Ω–∏–∫–∞–∫... ü•π
–Ω—É –¥–∞ –ª–∞–¥–Ω–æ!.. üòÖ

In [281]:
# Look datasets & load videos
!du datasets/*
videos = spark.read.option('header', 'true').option("inferSchema", "true").csv('datasets/USvideos.csv')
videos_src = videos
videos.show(3, 11)
videos.limit(3).toPandas().T

12	datasets/US_category_id.json
71108	datasets/UScomments.csv
2916	datasets/USvideos.csv
+-----------+-----------+-------------+-----------+-----------+-------+------+--------+-------------+--------------+-----+
|   video_id|      title|channel_title|category_id|       tags|  views| likes|dislikes|comment_total|thumbnail_link| date|
+-----------+-----------+-------------+-----------+-----------+-------+------+--------+-------------+--------------+-----+
|XpVt6Z1Gjjo|1 YEAR O...|  Logan Pa...|         24|logan pa...|4394029|320053|    5931|        46245|   https://...|13.09|
|K4wEI5zhHB0|iPhone X...|        Apple|         28|Apple|iP...|7860119|185853|   26679|            0|   https://...|13.09|
|cLdxuaxaQwc|My Response|    PewDiePie|         22|     [none]|5845909|576597|   39774|       170708|   https://...|13.09|
+-----------+-----------+-------------+-----------+-----------+-------+------+--------+-------------+--------------+-----+
only showing top 3 rows

,0,1,2
video_id,XpVt6Z1Gjjo,K4wEI5zhHB0,cLdxuaxaQwc
title,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,iPhone X ‚Äî Introducing iPhone X ‚Äî Apple,My Response
channel_title,Logan Paul Vlogs,Apple,PewDiePie
category_id,24,28,22
tags,logan paul vlog|logan paul|logan|paul|olympics...,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,[none]
views,4394029,7860119,5845909
likes,320053,185853,576597
dislikes,5931,26679,39774
comment_total,46245,0,170708
thumbnail_link,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg
date,13.09,13.09,13.09

In [282]:
# Load comments
comments_schema = StructType([ \
    StructField("video_id", StringType(), True), \
    StructField("comment_text", StringType(), True), \
    StructField("likes", IntegerType(), True), \
    StructField("replies", IntegerType(), True)])
comments = spark.read.option('header', 'true').option("mode", "DROPMALFORMED").schema(comments_schema).csv('datasets/UScomments.csv')
comments.limit(3).toPandas()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0

In [283]:
videos.printSchema(), comments.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_total: integer (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- date: string (nullable = true)

root
 |-- video_id: string (nullable = true)
 |-- comment_text: string (nullable = true)
 |-- likes: integer (nullable = true)
 |-- replies: integer (nullable = true)

(None, None)

In [284]:
coalesce??

Signature: coalesce(*cols: 'ColumnOrName') -> pyspark.sql.column.Column
Source:
@try_remote_functions
def coalesce(*cols: "ColumnOrName") -> Column:
    """Returns the first column that is not null.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : :class:`~pyspark.sql.Column` or str
        list of columns to work on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        value of the first column that is not null.

    Examples
    --------
    >>> cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
    >>> cDf.show()
    +----+----+
    |   a|   b|
    +----+----+
    |null|null|
    |   1|null|
    |null|   2|
    +----+----+

    >>> cDf.select(coalesce(cDf["a"], cDf["b"])).show()
    +--------------+
    |coalesce(a, b)|
    +--------------+
    |          null|
    |             1|
    |             2|
    +--------------+

    >>> cDf.select('*', coalesce(cDf["a"], lit(0.0))).show()
    +----+----+----------------+
    |   a|   b|coalesce(a, 0.0)|
    +----+----+----------------+
    |null|null|             0.0|
    |   1|null|             1.0|
    |null|   2|             0.0|
    +----+----+----------------+
    """
    return _invoke_function_over_seq_of_columns("coalesce", cols)
File:      /usr/local/spark/python/pyspark/sql/functions.py
Type:      function

In [285]:
comments_by_video = comments.repartitionByRange(100, "video_id").groupBy('video_id').sum('likes').alias('likes') #!dw
comments_by_video.show(11, 33)

+-----------+----------+
|   video_id|sum(likes)|
+-----------+----------+
|-Ifnaxi2LQg|       110|
|-JmNKGfFj7w|        27|
|-cYk6sbe11c|       132|
|-1fzGnFwz9M|       874|
|-DGXHMOhXAw|      6265|
|-CEuQhqNzz4|      1012|
|-jFgNreZPf0|        63|
|-cjfTG8DbwA|        36|
|-C-LJUD2LWU|        15|
|-6Zc8Co2H3w|        38|
|-SiRV2kWIxg|       100|
+-----------+----------+
only showing top 11 rows

In [286]:
#! Doubles in videos dataframe happens!
df = videos_src.where("video_id like '-6Zc8Co2H3w'").orderBy('video_id')
df.show(11, 33)
df.limit(3).toPandas().T

+-----------+---------------------------------+--------------+-----------+---------------------------------+-------+-----+--------+-------------+---------------------------------+-----+
|   video_id|                            title| channel_title|category_id|                             tags|  views|likes|dislikes|comment_total|                   thumbnail_link| date|
+-----------+---------------------------------+--------------+-----------+---------------------------------+-------+-----+--------+-------------+---------------------------------+-----+
|-6Zc8Co2H3w|Honest Trailers - Star Trek: T...|Screen Junkies|          1|screen junkies|screenjunkies|s...|1547293|42960|    1075|         7498|https://i.ytimg.com/vi/-6Zc8Co...|28.09|
|-6Zc8Co2H3w|Honest Trailers - Star Trek: T...|Screen Junkies|          1|screen junkies|screenjunkies|s...|1764868|46524|    1183|         6152|https://i.ytimg.com/vi/-6Zc8Co...|29.09|
|-6Zc8Co2H3w|Honest Trailers - Star Trek: T...|Screen Junkies|          1|screen junkies|screenjunkies|s...|1870380|48211|    1243|         6526|https://i.ytimg.com/vi/-6Zc8Co...|30.09|
|-6Zc8Co2H3w|Honest Trailers - Star Trek: T...|Screen Junkies|          1|screen junkies|screenjunkies|s...|1956813|49656|    1287|         6894|https://i.ytimg.com/vi/-6Zc8Co...|01.10|
+-----------+---------------------------------+--------------+-----------+---------------------------------+-------+-----+--------+-------------+---------------------------------+-----+

,0,1,2
video_id,-6Zc8Co2H3w,-6Zc8Co2H3w,-6Zc8Co2H3w
title,Honest Trailers - Star Trek: The Next Generation,Honest Trailers - Star Trek: The Next Generation,Honest Trailers - Star Trek: The Next Generation
channel_title,Screen Junkies,Screen Junkies,Screen Junkies
category_id,1,1,1
tags,screen junkies|screenjunkies|sj news|honest tr...,screen junkies|screenjunkies|sj news|honest tr...,screen junkies|screenjunkies|sj news|honest tr...
views,1547293,1764868,1870380
likes,42960,46524,48211
dislikes,1075,1183,1243
comment_total,7498,6152,6526
thumbnail_link,https://i.ytimg.com/vi/-6Zc8Co2H3w/default.jpg,https://i.ytimg.com/vi/-6Zc8Co2H3w/default.jpg,https://i.ytimg.com/vi/-6Zc8Co2H3w/default.jpg
date,28.09,29.09,30.09

In [287]:
videos = videos_src.select('video_id', 'views', 'likes', 'dislikes', 'category_id', 'tags'
                    ).groupBy('video_id', 'category_id', 'tags'
                    ).agg( sum('views').alias('views'), sum('likes').alias('likes'), sum('dislikes').alias('dislikes'),
)
df = videos
df = df.where("video_id like '-6Zc8Co2H3w'").orderBy('video_id')
df.show(11, 33)
df.limit(3).toPandas().T

+-----------+-----------+---------------------------------+-------+------+--------+
|   video_id|category_id|                             tags|  views| likes|dislikes|
+-----------+-----------+---------------------------------+-------+------+--------+
|-6Zc8Co2H3w|          1|screen junkies|screenjunkies|s...|7139354|187351|    4788|
+-----------+-----------+---------------------------------+-------+------+--------+

                                                             0
video_id                                           -6Zc8Co2H3w
category_id                                                  1
tags         screen junkies|screenjunkies|sj news|honest tr...
views                                                  7139354
likes                                                   187351
dislikes                                                  4788

In [288]:
videos.show(3, 33)

+-----------+-----------+---------------------------------+-------+------+--------+
|   video_id|category_id|                             tags|  views| likes|dislikes|
+-----------+-----------+---------------------------------+-------+------+--------+
|7bdZn5MKugo|         26|carlibel55|carlibybel|carlibel...|2081277| 81720|    3091|
|F8i8pnZmk50|         28|iPhone 8|iPhone 8 Plus|iPhone ...|4463513|187617|    5825|
|tlACd8CquRk|         24|abc|dancing|stars|dwts|Tango|D...| 551521|  7705|     178|
+-----------+-----------+---------------------------------+-------+------+--------+
only showing top 3 rows

In [289]:
# 1 scored_videos - –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞ USvideos.csv
#  - —Å –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ–º –∫–æ–ª–æ–Ω–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π —Å–∫–æ—Ä (–ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –∫–∞—á–µ—Å—Ç–≤–∞) –≤–∏–¥–µ–æ:
#    - –§–û–†–ú–£–õ–ê –¥–æ–ª–∂–Ω–∞ –≤–∫–ª—é—á–∞—Ç—å –≤ —Å–µ–±—è
#      - –ø—Ä–æ—Å–º–æ—Ç—Ä—ã,
#      - –ª–∞–π–∫–∏, –¥–∏–∑–ª–∞–π–∫–∏ –≤–∏–¥–µ–æ,
#      - –ª–∞–π–∫–∏ –∏ –¥–∏–∑–ª–∞–π–∫–∏ –∫ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º –∫ –≤–∏–¥–µ–æ

# videos = videos_src

# Make repartition for videos and bucketing both by 100 partitions/buckets for comments 1st for optimizing JOIN
videos = videos.repartition(100)
comments_by_video = comments_by_video.repartitionByRange(100, "video_id")

videos = (
    videos.select('video_id', 'views', 'likes', 'dislikes', 'category_id', 'tags'\
         ).join(comments_by_video
                .select('video_id', col('sum(likes)').alias('likes_c'),  # col('dislikes').alias('dislikes_c')  - –Ω–µ –Ω–∞—à—ë–ª ü§î
                ),
                on='video_id', how='left'
         ).select('video_id', 'views', 'likes', 'dislikes', 'category_id', 'tags',
                  coalesce(col('likes_c'), lit(0)).alias('likes_c'))
)
videos.show(3, 55)

+-----------+------+-----+--------+-----------+-------------------------------------------------------+-------+
|   video_id| views|likes|dislikes|category_id|                                                   tags|likes_c|
+-----------+------+-----+--------+-----------+-------------------------------------------------------+-------+
|Bo-qp-Zu0OY| 21654|  179|       1|         19|talking mickey|talking donald|talking minnie|dca|dis...|     71|
|eHq6ZA6uKOg|135189| 1156|     374|         24|American Broadcasting Company|ABC|ABC Network|Televi...|    797|
|rjlXcMhQgPU|625828|16935|    1412|         17|buzzfeed|buzzfeedblue|buzzfeed blue|plane|barefoot|b...|     52|
+-----------+------+-----+--------+-----------+-------------------------------------------------------+-------+
only showing top 3 rows

In [290]:
# 1) score = (likes - dislikes + likes-comments) / views 
videos = videos.withColumn('score', (col('likes') - col('dislikes') + col('likes_c')) / col('views'))
videos.orderBy(desc('score')).show(3, 33)
videos.where('score > 0').orderBy(asc('score')).show(3, 33)

+-----------+-------+------+--------+-----------+---------------------------------+-------+-------------------+
|   video_id|  views| likes|dislikes|category_id|                             tags|likes_c|              score|
+-----------+-------+------+--------+-----------+---------------------------------+-------+-------------------+
|J0sg_Au8zX8|   8741|   182|       2|         24|nbc this is us|this is us afte...|   1792|0.22560347786294474|
|TSxt2_QM4N4|1624869|318826|    1983|         10|             LAY|Î†àÏù¥|SHEEP|Áæä|MV|     37|0.19501879843852027|
|JdqUUKEATiw|  20722|  3335|      19|          1|callmekat|katarzyna napi√≥rkows...|    636|0.19071518193224593|
+-----------+-------+------+--------+-----------+---------------------------------+-------+-------------------+
only showing top 3 rows

+-----------+-------+-----+--------+-----------+---------------------------------+-------+--------------------+
|   video_id|  views|likes|dislikes|category_id|                             tags|likes_c|               score|
+-----------+-------+-----+--------+-----------+---------------------------------+-------+--------------------+
|frv64BFwGFY| 238531|   39|      22|         24|Kmart|deals|savings|discount|c...|      0|7.126956244680985E-5|
|tUPR5-igTVY|4697829|    0|       0|         22|dear hate|charity|las vegas ch...|    412|8.770008444326091E-5|
|o4os5TXo6Vk|1011582|    0|       0|         10|                           [none]|     97| 9.58894088665081E-5|
+-----------+-------+-----+--------+-----------+---------------------------------+-------+--------------------+
only showing top 3 rows

In [291]:
# Research file with categories:..
!head -n 11 datasets/US_category_id.json
!echo ...

{
 "kind": "youtube#videoCategoryListResponse",
 "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJvJAAShlR6hM\"",
 "items": [
  {
   "kind": "youtube#videoCategory",
   "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ\"",
   "id": "1",
   "snippet": {
    "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
    "title": "Film & Animation",
...

### –º–¥–∞... —Ç—É—Ç –±–µ–∑ "–ø–æ–º–æ—â–∏ –î—Ä—É–∑—è" –Ω–∏–∫–∞–∫ üòÖü§ì

#### https://chat.openai.com/c/fac3b2e7-81c4-4ef5-9cdd-120a459b0fcf
how to exctract to spark dataframe with 2 cols:
- category_id ‚Äì from path: "items"."id" where "kind" = "youtube#videoCategory"
- category_name ‚Äì from path: "items"."snippet"."title" for category_id

from this file:
{ "kind": "youtube#videoCategoryListResponse",
 "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJvJAAShlR6hM\"",..

In [292]:
# 2) read categories from json
df = spark.read.option("multiline", "true").json("datasets/US_category_id.json")

df_exploded = df.select(explode(df.items).alias("item"))

categories_df = df_exploded.select(
    df_exploded["item.id"].alias("category_id"),
    df_exploded["item.snippet.title"].alias("category_name")
)

categories_df = categories_df.filter(df_exploded["item.kind"] == "youtube#videoCategory")

categories_df.show(5, False)

+-----------+----------------+
|category_id|category_name   |
+-----------+----------------+
|1          |Film & Animation|
|2          |Autos & Vehicles|
|10         |Music           |
|15         |Pets & Animals  |
|17         |Sports          |
+-----------+----------------+
only showing top 5 rows

In [293]:
# 2) categories_score - –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, –≤ –∫–æ—Ç–æ—Ä–æ–º –ø–æ–ª—è: 
#  - –ù–∞–∑–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (–Ω–µ id) -  –≤ US_category_id.json
#  - –ú–µ–¥–∏–∞–Ω–∞ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è score –∏–∑ scored_videos –ø–æ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏

# Join scored_videos and categories_df on category_id
videos_with_categories = videos.join(broadcast(categories_df), on='category_id', how='left')

# Compute median
median_scores = videos_with_categories.groupby("category_name").agg(
    expr('percentile_approx(score, 0.5)').alias('median_score')
)

median_scores.orderBy(desc('median_score')).show(5, False)

+--------------+--------------------+
|category_name |median_score        |
+--------------+--------------------+
|Music         |0.04894056846823924 |
|Howto & Style |0.04882180089464523 |
|Comedy        |0.035756360280687134|
|Education     |0.03489027472227778 |
|Pets & Animals|0.03188342746845286 |
+--------------+--------------------+
only showing top 5 rows

### - 7 –î–ª—è —Ä–∞—Å—á–µ—Ç–∞ –º–µ–¥–∏–∞–Ω—ã –Ω–µ–ª—å–∑—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤—Å—Ç—Ä–æ–µ–Ω–Ω—É—é Spark-—Ñ—É–Ω–∫—Ü–∏—é median –∏–∑ –ø–∞–∫–µ—Ç–∞ pyspark.sql.functions...

–û–∫, –æ—Å—Ç–∞–≤–∏–º –µ—ë —Ç–æ–ª—å–∫–æ –¥–ª—è —Å–≤–µ—Ä–∫–∏)

In [294]:
# Create Pandas UDF for median
from pyspark.sql.functions import * #pandas_udf, PandasUDFType, groupBy as groupby
import pandas as pd, statistics

@pandas_udf('double', PandasUDFType.GROUPED_AGG)
def median_score(score: pd.Series) -> float: return statistics.median(score)

scored_videos_with_category_name = videos.join(broadcast(categories_df), on='category_id')

category_score_median = scored_videos_with_category_name.groupby('category_name').agg(median_score(scored_videos_with_category_name['score']).alias('median_score'))

category_score_median.orderBy(desc('median_score')).show(5, False)

/usr/local/spark/python/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

+--------------+--------------------+
|category_name |median_score        |
+--------------+--------------------+
|Howto & Style |0.048975267792669364|
|Music         |0.03978118460448949 |
|Comedy        |0.035756360280687134|
|Education     |0.03489027472227778 |
|Pets & Animals|0.03188342746845286 |
+--------------+--------------------+
only showing top 5 rows

In [295]:
# Compare builtin and own UDF medians
category_score_median.join(median_scores, on='category_name'
    ).select(category_score_median['*'], median_scores['median_score'].alias('median_score_pd'),
             (category_score_median['median_score'] - median_scores['median_score']).alias('median_scores_diff')
    ).orderBy(desc('median_score')).show(11, False)

+--------------------+--------------------+--------------------+---------------------+
|category_name       |median_score        |median_score_pd     |median_scores_diff   |
+--------------------+--------------------+--------------------+---------------------+
|Howto & Style       |0.048975267792669364|0.04882180089464523 |1.5346689802413216E-4|
|Music               |0.03978118460448949 |0.04894056846823924 |-0.009159383863749752|
|Comedy              |0.035756360280687134|0.035756360280687134|0.0                  |
|Education           |0.03489027472227778 |0.03489027472227778 |0.0                  |
|Pets & Animals      |0.03188342746845286 |0.03188342746845286 |0.0                  |
|People & Blogs      |0.029489108496292302|0.029420258570009714|6.884992628258813E-5 |
|Science & Technology|0.02543212129949589 |0.025101531745246066|3.305895542498223E-4 |
|Travel & Events     |0.023733134052269893|0.022412075703011264|0.001321058349258629 |
|Film & Animation    |0.022960721689022617|0.02258567556529165 |3.7504612373096685E-4|
|Gaming              |0.022566618082282008|0.022566618082282008|0.0                  |
|Entertainment       |0.020693893364327413|0.020693893364327413|0.0                  |
+--------------------+--------------------+--------------------+---------------------+
only showing top 11 rows

## ! –ü–æ—á–µ–º—É-—Ç–æ –≤ 2-–π —Å—Ç—Ä–æ–∫–µ –¥–æ–≤–æ–ª—å–Ω–æ –±–æ–ª—å—à–æ–π —Ä–∞—Å—Ö–æ–¥–Ω—è–∫! üòÖü§î –ù—É –¥–∞ –ª–∞–¥–Ω–æ... ü§ì

In [296]:
videos_df = videos_with_categories
videos_df.show(5, 44)
videos_df.printSchema()

+-----------+-----------+--------+------+--------+--------------------------------------------+-------+--------------------+----------------+
|category_id|   video_id|   views| likes|dislikes|                                        tags|likes_c|               score|   category_name|
+-----------+-----------+--------+------+--------+--------------------------------------------+-------+--------------------+----------------+
|         24|4yCkkOvIkUI|   12905|    59|      43|                                      [none]|     36|0.004029445951181713|   Entertainment|
|         26|7TN09IP5JuI|20785005|869092|    8855|First we feast|fwf|firstwefeast|food|food...|     34|  0.0413890205944141|   Howto & Style|
|         19|Bo-qp-Zu0OY|   21654|   179|       1|talking mickey|talking donald|talking min...|     71|0.011499030202272097| Travel & Events|
|          1|JkqTeQHFoBY|  431082|  4694|      43|marvel|vfx|CG|CGI|Animation|Guardians of ...|    558|0.012083547909678437|Film & Animation|
|         27|K7pQsR8WFSo| 2300663|110553|    1060|veritasium|science|physics|shlieren|imagi...|    104| 0.04763713764249697|       Education|
+-----------+-----------+--------+------+--------+--------------------------------------------+-------+--------------------+----------------+
only showing top 5 rows

root
 |-- category_id: integer (nullable = true)
 |-- video_id: string (nullable = true)
 |-- views: long (nullable = true)
 |-- likes: long (nullable = true)
 |-- dislikes: long (nullable = true)
 |-- tags: string (nullable = true)
 |-- likes_c: long (nullable = false)
 |-- score: double (nullable = true)
 |-- category_name: string (nullable = true)

In [297]:
%%skip_err
# Save to disk for reusing, if'll be needed
!rm -r spark-warehouse/videos
if 'videos' in [a.name for a in spark.catalog.listTables()]:
    spark.sql("drop table videos")
videos_df.write.saveAsTable('videos', partitionBy='category_name') #, mode='overwrite')
videos_df = spark.table('videos')
videos_df.count(), \
videos_df.show(5, 55)

Traceback (most recent call last):
  File "/tmp/ipykernel_34488/3369605859.py", line 6, in skip_err
    try: exec(cell, globals())
         ^^^^^^^^^^^^^^^^^^^^^
  File "<string>", line 2
    !rm -r spark-warehouse/videos
    ^
SyntaxError: invalid syntax

In [298]:
# 3) popular_tags - –ø–æ —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω—ã–º —Ç—ç–≥–∞–º
  # - –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç—ç–≥–∞ + –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∏–¥–µ–æ —Å —ç—Ç–∏–º —Ç—ç–≥–æ–º
  #   ! —Ç—ç–≥–∏ –ª–µ–∂–∞—Ç —Å—Ç—Ä–æ–∫–æ–π –≤ –ø–æ–ª–µ tags
  #     - Scala-—Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è —Ä–∞–∑–±–∏–µ–Ω–∏—è —Ç–µ–≥–æ–≤: 
  #       - –ù–æ –Ω–∞–ø–∏—à–∏—Ç–µ —Å–≤–æ—é UDF-—Ñ—É–Ω–∫—Ü–∏—é —Ä–∞–∑–±–∏–µ–Ω–∏—è —Å—Ç—Ä–æ–∫–∏ –Ω–∞ —Ç—ç–≥–∏
  #       - –∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã —Å –µ—ë Scala-–≤–µ—Ä—Å–∏–µ–π.
  #         - –ú–æ–∂–Ω–æ –∑–∞–º–µ—Ä—è—Ç—å —Å–≤–æ–∏–º–∏ —Å–∏–ª–∞–º–∏,
  #           - –∞ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –±–∏–±–ª–∏–æ—Ç–µ–∫–æ–π timeit
  #           - —Ñ—É–Ω–∫—Ü–∏–∏ Spark –∏–∑ –ø–∞–∫–µ—Ç–∞ pyspark.sq.functions –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ–ª—å–∑—è,
  #             - –Ω—É–∂–Ω–æ –Ω–∞–ø–∏—Å–∞—Ç—å —Å–≤–æ—é —Ñ—É–Ω–∫—Ü–∏—é.

In [299]:
videos.printSchema()
videos.where(f"tags is not null and tags != '[none]'").show(3, 33)

root
 |-- video_id: string (nullable = true)
 |-- views: long (nullable = true)
 |-- likes: long (nullable = true)
 |-- dislikes: long (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- tags: string (nullable = true)
 |-- likes_c: long (nullable = false)
 |-- score: double (nullable = true)

+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+
|   video_id|   views| likes|dislikes|category_id|                             tags|likes_c|               score|
+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+
|7TN09IP5JuI|20785005|869092|    8855|         26|First we feast|fwf|firstwefeas...|     34|  0.0413890205944141|
|Bo-qp-Zu0OY|   21654|   179|       1|         19|talking mickey|talking donald|...|     71|0.011499030202272097|
|JkqTeQHFoBY|  431082|  4694|      43|          1|marvel|vfx|CG|CGI|Animation|Gu...|    558|0.012083547909678437|
+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+
only showing top 3 rows

In [300]:
def split_tags_simple(tags_str): return tags_str.split('|')

# Create a UDF from the Python function
split_tags_simple = udf(split_tags_simple)

# Now you can use this UDF in your DataFrame transformations
videos = videos.withColumn('tags_array', split_tags_simple(videos['tags']))

In [301]:
# —Ç–∞–∫, –ø—Ä–∏—à–ª–∞ –ø–æ–º–æ—â—å –∏–∑ –∑–∞–ª–∞..
from pyspark.sql.functions import pandas_udf, PandasUDFType, explode
from pyspark.sql import DataFrame
import pandas as pd

@pandas_udf('array<string>', PandasUDFType.SCALAR)
def split_tags(tags_series: pd.Series) -> pd.Series: return tags_series.str.split('|')
#...

## - 8 –î–ª—è —Ñ—É–Ω–∫—Ü–∏–∏ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è —Ç–µ–≥–æ–≤ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω—ã –≤—ã–≤–æ–¥—ã –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é –≤—Ä–µ–º–µ–Ω–∏ —Ä–∞–±–æ—Ç—ã –æ–±—ã—á–Ω–æ–π –∏ scala-–≤–µ—Ä—Å–∏–∏.

–°–æ Scala-—Ñ—É–Ω–∫—Ü–∏–µ–π –Ω–µ –¥–æ—Ä–∞–∑–æ–±—Ä–∞–ª—Å—è (–∫–∞–∫ –∑–∞–≥—Ä—É–∑–∏—Ç—å), —Ç–∞–∫ —á—Ç–æ —Å—Ä–∞–≤–Ω—é Pandas –∏ –æ–±—ã—á–Ω—É—é

In [302]:
%%timeit
videos.select(split_tags('tags')).count()

1.12 s ¬± 47.3 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [303]:
%%timeit
videos.select(split_tags_simple('tags')).count()

1.05 s ¬± 14.4 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

## ü§î

In [304]:
#...
df = videos
df = df.withColumn('tags_array', split_tags(df['tags']))
df.show(3, 33)
videos_tagged = \
df = df.select('*',
            explode(
                df['tags_array']
                   ).alias('tag')
      )
df.show(3, 33)
df.groupBy('tag').count().orderBy(desc('count')).show(3, 33)

+-----------+------+-----+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+
|   video_id| views|likes|dislikes|category_id|                             tags|likes_c|               score|                       tags_array|
+-----------+------+-----+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+
|Bo-qp-Zu0OY| 21654|  179|       1|         19|talking mickey|talking donald|...|     71|0.011499030202272097|[talking mickey, talking donal...|
|eHq6ZA6uKOg|135189| 1156|     374|         24|American Broadcasting Company|...|    797|0.011679944374172455|[American Broadcasting Company...|
|rjlXcMhQgPU|625828|16935|    1412|         17|buzzfeed|buzzfeedblue|buzzfeed...|     52| 0.02488702966310232|[buzzfeed, buzzfeedblue, buzzf...|
+-----------+------+-----+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+
only showing top 3 rows

+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+--------------+
|   video_id|   views| likes|dislikes|category_id|                             tags|likes_c|               score|                       tags_array|           tag|
+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+--------------+
|4yCkkOvIkUI|   12905|    59|      43|         24|                           [none]|     36|0.004029445951181713|                         [[none]]|        [none]|
|7TN09IP5JuI|20785005|869092|    8855|         26|First we feast|fwf|firstwefeas...|     34|  0.0413890205944141|[First we feast, fwf, firstwef...|First we feast|
|7TN09IP5JuI|20785005|869092|    8855|         26|First we feast|fwf|firstwefeas...|     34|  0.0413890205944141|[First we feast, fwf, firstwef...|           fwf|
+-----------+--------+------+--------+-----------+---------------------------------+-------+--------------------+---------------------------------+--------------+
only showing top 3 rows

+------+-----+
|   tag|count|
+------+-----+
| funny|  223|
|comedy|  169|
|[none]|  146|
+------+-----+
only showing top 3 rows

## 4) –ò –ª–∏—á–Ω–∞—è –ø—Ä–æ—Å—å–±–∞ –æ—Ç –ú–∞—Ä–∫–∞: –æ–Ω –ª—é–±–∏—Ç –∫–æ—Ç–æ–≤ (–∞ –∫—Ç–æ –Ω–µ –∏—Ö –Ω–µ –ª—é–±–∏—Ç!) –∏ —Ö–æ—á–µ—Ç –Ω–∞–π—Ç–∏ —Å–∞–º—ã–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ (—Ç–æ–ø-5) –∫ –≤–∏–¥–µ–æ –ø—Ä–æ –∫–æ—Ç–æ–≤. ‚Äú–í–∏–¥–µ–æ –ø—Ä–æ –∫–æ—Ç–æ–≤‚Äù - –≤–∏–¥–µ–æ, —É –∫–æ—Ç–æ—Ä–æ–≥–æ –µ—Å—Ç—å —Ç—ç–≥ ‚Äúcat‚Äù.

In [ ]:
from pyspark.sql.window import Window
# window = Window.rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing)
top_cats_tags = (
    videos_tagged['tag', 'score']
        .where("regexp_like(tag, '.*[ ](cat|kitten)[ sty].*')")
        .groupBy('tag')
        .agg( count(col('*')).alias('cnt'),
              avg('score').alias('avg_score'),
        )
        # .withColumn('cnt_total', count('*').over(window))
        .orderBy(desc('cnt'))
)
top_cats_tags.show(11, 33)

In [ ]:
top_cats_videos_tagged = (videos_tagged
 .join(top_cats_tags, on='tag')
 .select('video_id', 'score', 'likes', 'likes_c', 'tag', 
         col('avg_score').alias('tag_avg_score')
) ## .orderBy(map(desc, *(col(c) for c in 'tag_avg_score score likes likes_c'.split(' '))))
 .orderBy(desc('tag_avg_score'), desc('score'), desc('likes'), desc('likes_c'))
)
top_cats_videos_tagged.show(11, 33)

In [ ]:
top_cats_videos = top_cats_videos_tagged.drop(
                   'tag'
        ).drop(    'tag_avg_score'
        ).distinct(    
        ).orderBy(
          ## desc('score'), desc('likes'), 
          desc('likes_c')
)
top_cats_videos.show(11, 33)

## –ë–ª–∏–Ω! –ù—É–∂–Ω—ã –∂–µ –Ω–µ —Ç–æ–ø –≤–∏–¥–µ–æ, –∞ —Ç–æ–ø –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏!.. üòÖ –ù—É –¥–∞ –ª–∞–¥–Ω–æ, –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ –∏—Ö –∫–∞–∫ —Ä–∞–∑ –Ω–∞–¥–æ –∏—Å–∫–∞—Ç—å —É —Ç–æ–ø –≤–∏–¥–µ–æ... ü§ì –•–æ—Ç—è —É –Ω–∞—Å –∂–µ –Ω–µ —Ç–æ–ø, –∞ –≤—Å–µ –≤–∏–¥–µ–æ!!! üòÖ

In [ ]:
# ...
top_cats_videos. select('video_id'
                 ).join(comments, on='video_id'
              ).groupBy('video_id', 'comment_text'
                  ).agg(
                    sum('likes').alias('likes'), sum('replies').alias('replies')
              ).orderBy(desc('likes'), desc('replies')
    ).show(5, 155)

In [ ]:
dff = %globs pyspark.sql.dataframe.DataFrame
dff

In [ ]:
from loguru import logger as log
@log.catch
def show_dfs(*dff, rows=1, width=33):
  try:
    if len(dff) == 1: dff = dff[0]
    if isinstance(dff, str): dff = dff.split(' ')
        
    for dfn in dff: #df = eval(dfn); \
      if isinstance(dfn, str):
        print(dfn, f"{(df := eval(dfn)).count()} rows", sep=': '), print( 
              display(df.limit(rows).toPandas()) or '',
              )
      elif isinstance(dfn, pyspark.sql.DataFrame):
         print((df:=dfn), f"{df.count()} rows total", sep=':\n'), print( 
              display(df.limit(rows).toPandas()) or '',
              )

      else: raise TypeError(f"{dfn=}")
  except: print(f"{dff=}"), traceback.print_exc()

show_dfs(videos, categories_df, rows=2)

In [ ]:
show_dfs(dff)

In [ ]:
%globs -p videos categor comments

In [ ]:
show_dfs(videos_src, comments, categories_df, width=22)